.login {
  display: inline-block;
  width: 300px;
  color: #fff;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  border: solid 2px rgba(241, 241, 241, 0.2);
  box-shadow: 0 5px 50px 10px rgba(255, 255, 255, 0.5);
}

.login__formulario h2 {
  text-transform: uppercase;
}

.login__formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
  margin: 5px;
}

.login__formulario label {
  text-align: left;
}
.login__formulario input {
  padding: 0.2rem;
  border-radius: 5px;
}

#login {
  margin: auto;
  display: block;
  margin-top: 20px;
  width: 60%;
  background: rgb(223, 146, 5);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
}
.login__button:hover {
  cursor: pointer;
}

.login__button a {
  text-decoration: none;
  color: #fff;
}

.new__user {
  margin-bottom: 10px;
}
